.photo{
  margin: auto;
  height: 36rem;
  border-radius: 0.2rem;
  background: white;
  display: grid;
  grid-template-columns: 36rem 20rem;
  grid-template-rows: auto 1fr auto;
  overflow: hidden;
  opacity: 0;
  transform: scale(0.8);
  animation: scaleUp 0.3s forwards;
}
.single.photo{
  grid-template-columns: 1fr;
  height: auto;
}
@keyframes scaleUp {
  to {
    opacity: initial;
    transform: initial;
  }
}
.details {
  padding: 2rem 2rem 0 2rem;
}
.single .details{
  padding: 1rem 0px 0px 0px;
}
.img {
  grid-row: 1/4;
}
.single .img{
  grid-row: 1;
  border-radius: 0.4rem;
  overflow: hidden;
}
.comments{
  padding:0 2rem;
}
@media (max-width: 64rem) {
  .photo{
    height: auto;
    max-height: calc(100vh - 4rem);
    overflow-y: auto;
    grid-template-columns: minmax(20rem,40rem);
  }
  .img{
    grid-row: 1;
  }
}
.author {
  opacity: 0.5;
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.author a:hover  {
  text-decoration: underline;
}
.visualizacoes::before{
  content: '';
  display: inline-block;
  width: 16px;
  height: 10px;
  margin-right: 0.5rem;
  background: url("../../assents/visualizacao-black.svg");
}

.attributes {
    display: flex;
    font-size: 1.125rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.attributes li{
  margin-right: 2rem;
}
.attributes li::before{
  content: '';
  display: inline-block;
  height: 20px;
  margin-right: 0.5rem;
  position: relative;
  top: 3px;
  width: 2px;
  background: #333;
  margin-top: 5px;

}


  /* form {
    label {
      display: block;
    }
  } */

  /* .comentario {
    background: red;
    overflow-y: auto;
    word-break: break-word;
    display: block;

    li {
      margin-bottom: 0.8rem;
      line-height: 1.2;
    }
  } */

  /* .formComentario {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: stretch;
    margin: 1.6rem 1.6rem 1.6rem 0;
    textarea {
      display: block;
      width: 100%;
      font-size: 1.6rem;
      font-family: var(--type-first);
      resize: none;
      border: 1px solid #eee;
      padding: 0.8rem;
      border-radius: 0.5rem;
      background: #eee;
      transition: 0.2s;
      &:focus,
      &:hover {
        outline: none;
        border-color: var(--color-first);
        background: white;
        box-shadow: 0 0 0 3px var(--color-third);
      }
    }
    button {
      border: none;
      cursor: pointer;
      color: #333;
      background: transparent;
      font-size: 1.6rem;
      padding: 0 1.6rem;
      overflow: hidden;

      &:focus,
      &:hover {
        outline: none;
        svg path {
          fill: var(--color-third);
          stroke: var(--color-first);
        }
        svg g {
          animation: latir 0.5s infinite;
        }
      }
    }
  }
  @keyframes latir {
    to {
      opacity: 0;
    }
    from {
      opacity: 1;
    }
  }

  @media (max-width: 64rem) {
    height: auto;
    max-height: calc(100vh - 6.4rem);
    overflow-y: auto;
    grid-template-columns: minmax(32rem, 64rem);
    .photo {
      grid-row: 1;
    }
  }
` */
