.button{
  font-size: 1rem;
  font-family: var(--type-first);
  cursor: pointer;
  border: none;
  min-width: 8rem;
  border-radius: 0.4rem;
  background: var(--color-first);
  color: var(--color-second);
  padding: 0.8rem 1.2rem;
  transition: 0.1s;
}

  .button:hover,
  .button:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--color-third), 0 0 0 4px var(--color-first);
  }
  .button:disabled {
    opacity: 0.5;
    cursor: wait;
  }
  .disativo {
    background-color: red;
  }

